.maps-component {
  width: 100%;
  height: 100vh;
}

.Human {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -20px;
  top: -20px;
  background-image: url("/humanplayer.gif");
  background-size: 50px;
}

.Zombie {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -20px;
  top: -20px;
  background-image: url("/zombie.gif");
  background-size: 30px;
}

.Exit {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -20px;
  top: -20px;
  background-image: url("/exit.png");
  background-size: 30px;
}
